# ========== Build & Gradle ==========
/build/
/.gradle/
/out/
/generated/
/test-output/

# ========== IntelliJ IDEA ==========
.idea/
*.iml
*.iws

# ========== Java ==========
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ========== Logs ==========
*.log
hs_err_pid*
replay_pid*

# ========== OS/Editor Specific ==========
.DS_Store
*.tmp
*.swp

# ========== Mobile Tools for Java ==========
.mtj.tmp/

# ========== BlueJ ==========
*.ctxt
